.custom_card{
    background-color: #e57373;
}

.custom_text_card{
    background-color:  #ff8a80;
}

.custom_body{
    background-color: #ffcdd2;
}

.custom_sidebar{
    color: #6610f2;
}

.custom_category_card{
    background-color: #ff8a80;
}


.huerga {
    display: flex;
    align-content: stretch;
}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #c62828;
    border-color: red;
}
