.custom_card{
    background-color: #e57373;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}

.custom_text_card{
    background-color:  #ff8a80;
}

.custom_body{
    background-color: #ffcdd2;
}

.custom_sidebar{
    color: #6610f2;
}

.custom_category_card{
    background-color: #ff8a80;
}


.huerga {
    display: flex;
    align-content: stretch;
}

.pink-text{
    color: #ff8a80 !important;
}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited .btn-primary.dropdown-toggle{
    background-color: #c62828;
    border-color: #ff8a80;
}

.tortcard_text{
    height: 70%;
}
