.card.custom_card{
    background-color: #e57373;
    border-radius: 0.5rem !important;
}

.custom_body{
    background-color: #ffcdd2;
}

.custom_sidebar{
    color: #6610f2;
}

.huerga {
    display: flex;
    align-content: stretch;
}

