{%extends 'base.html'%}
{% load crispy_forms_tags %}
{%block title%}Сообщить о проблеме{%endblock%}
{%block content%}
        <div class="d-flex h2 m-4 justify-content-center">Сообщить о проблеме</div>
        <div class="col-6 mx-auto m-4">
            <form method="post" novalidate enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form|crispy }}
                <div class="text-center m-2">
                    <button type="submit" class="btn btn-primary m-2 text-center">Отправить</button>
                </div>
            </form>
        </div>


{%endblock%}