{%extends 'base.html'%}
{%block title%}Торты{%endblock%}
{%block content%}
    {%block category%}
        {%if category%}
            <div class="custom_category_card card m-4 mx-auto" style="width: 80%">
                <h5 class="card-title mx-auto m-2">Категория: {{category.name}}</h5>
                <img src="{{category.photo.url}}" class="card-img-top" alt="...">
                <div class="card-body custom_category_card" >
                    <p class="card-text">{{category.description}}</p>
            </div>
        {%endif%}
    {%endblock%}
<div>
    {%for tort in torts%}
    {% if forloop.counter|add:2|divisibleby:3 %}
        {%if forloop.counter != 0%}
            </div>
                </div>
        {%endif%}
    <div class="container">
            <div class="row">
    {%endif%}
                <div class="col-md-4">
                    <div class="card m-lg-5 inline custom_card" style="width: 18rem; height: 30rem">
                      <img src="{{tort.main_photo.url}}" height="200px" class="card-img-top" alt="...">
                          <div class="card-body custom_card">
                            <h5 class="card-title">{{tort.name}}</h5>
                            <p class="card-text">{{tort.description|safe|linebreaks|truncatewords:"15"}}</p>
                            <a href="{{tort.get_absolute_url}}" class="btn btn-primary custom_button">Подробнее...</a>
                          </div>
                    </div>
                </div>
    {%if forloop.last and not forloop.counter|divisibleby:3%}
            </div>
                </div>
    {%endif%}

    {%endfor%}
</div>


    {%block pagination%}
    {%if page_obj%}
        <nav aria-label="Page navigation example" >
  <ul class="pagination justify-content-center">
        {%if page_obj.has_previous%}
    <li class="page-item">
      <a class="page-link" href="page_obj.previous_page_number" aria-label="Previous">
        {%else%}
      <li class="page-item disabled">
      <a class="page-link disabled" href="#">
        {%endif%}
        <span aria-hidden="true">&laquo;</span>
      </a>
      </li>
    <li class="page-item pink-text"><a class="page-link " href="/?page={{page_obj.number}}">{{page_obj.number}}</a></li>
      {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
          {%else%}
      <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Next">
          {%endif%}
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
    {%endif%}
    {%endblock%}
{%endblock%}