{%extends 'base.html'%}
{%block title%}Торты{%endblock%}
{%block content%}
<div>
    {%for torts in tort%}
    {% if forloop.counter|add:2|divisibleby:3 %}
        {%if forloop.counter != 0%}
            </div>
                </div>
        {%endif%}
    <div class="container">
            <div class="row">
    {%endif%}
                <div class="col-md-4">
                    <div class="card m-lg-5 inline" style="width: 18rem;">
                      <img src="{{torts.tort_photo.url}}" height="200px" class="card-img-top" alt="...">
                          <div class="card-body custom_card">
                            <h5 class="card-title">{{torts.name}}</h5>
                            <p class="card-text">{{torts.description|safe|linebreaks|truncatewords:"15"}}</p>
                            <a href="{{torts.get_absolute_url}}" class="btn btn-primary">Подробнее...</a>
                          </div>
                    </div>
                </div>
    {%if forloop.last and not forloop.counter|divisibleby:3%}
            </div>
                </div>
    {%endif%}

    {%endfor%}
</div>
{%endblock%}